<!DOCTYPE html>
<html lang="en">
<%- include("../header"); %>
<body>
    <%- include("../menu"); %>
    <form id="createForm">
        <select class="browser-default custom-select" id = "problem">
            <option selected>문제 선택</option>
              <% result.forEach(problem => {%>
                <option value="<%= problem._id %>"><%= problem.title %></option> 
              <% }) %>
        </select>

        <div class="form-group">
            <label for="code">코드</label>
            <textarea class="form-control rounded-0" id="code" rows="10"></textarea>
        </div>
        
        <button 
            type="submit" 
            class="btn btn-primary"
        >저장</button>
    </form>
    <!-- End your project here-->
    <%- include("../footer"); %>
    <script>
                
        $(function(){ 
            $("#createForm").submit((event) => {
                event.preventDefault();
                const problemId = $("#problem").val();
                const code = $("#code").val();
                console.log(code);
                console.log(problemId);
                $.ajax({
                    url: "/api/submit",
                    type: "POST",
                    data: { problemId, code },
                }).done(() => {
                    location.href = "/api/submit";
                }).fail((request, status, error) => {
                    alert(request.responseText);
                });
                //console.log(singer,title);
            });
        });
    </script>

</body>
</html>