<!DOCTYPE html>
<html lang="en">
<%- include("../header"); %>
<body>
    <!-- Start your project here-->  
    <%- include("../menu"); %>
    <button 
        type="button" 
        class="btn btn-primary"
        onclick="location.href='/api/submit/new'"
    >코드 제출</button>
    <div class="row row-cols-1 row-cols-md-1">
        <% index = 0 %>
        <table id="tablePreview" class="table" style="margin-left: 30px;">
        <!--Table head-->
          <thead>
            <tr>
              <th>#</th>
              <th>date</th>
              <th>problem</th>
              <th>code</th>
            </tr>
          </thead>
          <!--Table head-->
          <!--Table body-->
          <tbody>
            <% result.forEach(submit => { %>
                <tr>
                    <th scope="row"><%= ++index %></th>
                    <td><%= submit.created %></td>
                    <td><%= submit.problemId %></td>
                    <td><%= submit.code %></td>
                </tr>
            <% }) %>        
          </tbody>
          <!--Table body-->
        </table>
    </div>
    <!-- End your project here-->

    <%- include("../footer"); %>

</body>
</html>