<!DOCTYPE html>
<html lang="en">
  <%- include("../header"); %>
  <body>
    <%- include("../menu"); %>
    <form id="createForm">
      <select class="browser-default custom-select" id = "problem">
        <option selected>문제 선택</option>
          <% result.forEach(problem => {%>
            <option value="<%= problem._id %>"><%= problem.title %></option> 
          <% }) %>
      </select>
      
      <!-- Material input -->

      <div class="md-form">
        <input type="text" id="input" class="form-control" required />
        <label for="input">Input input data</label>
      </div>

      <div class="md-form">
        <input type="text" id="output" class="form-control" required />
        <label for="output">Input output data</label>
      </div>
      <button type="submit" class="btn btn-warning">저장</button>
    </form>
    
    <!-- End your project here-->
    <%- include("../footer"); %>
    <script>
      $(function () {
        
        $("#createForm").submit((event) => {
          event.preventDefault();
          const problemId = $("#problem").val();
          const input = $("#input").val();
          const output = $("#output").val();

          console.log(problemId);
          $.ajax({
            url: "/api/example",
            type: "POST",
            data: { problemId, input, output },
          })
            .done(() => {
              console.log("됐음?");
              location.href = "/api/problem/" + problemId + "/example";
            })
            .fail((request, status, error) => {
              alert(request.responseText);
            });
          //console.log(singer,title);
        });
      });
    </script>
  </body>
</html>
